body {
    display: flex;
    justify-content: center;
    background-image: url("images/forest-fire_bg.jpg");
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    color: rgb(243, 237, 237);
    }
    
    input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    .icon {
    font-size: 110px;
    display: flex;
    justify-content: center;
    color: #4286f4;
    }
    button {
    background-color: #6298f0;
    padding: 10px 0 ;
    margin: 10px 0;
    border: none;
    cursor: grab;
    width: 28%;
    }
    .pre{
    margin-inline-start: 550px;
    
    }
    h1 {
    text-align:center;
    font-size:18;
    }
    button:hover {
    opacity: 0.9;
    }
    .formcontainer {
    text-align: center;
    margin: 24px 50px 12px;
    }
    .container {
    padding: 16px 0;
    text-align:left;
    }
    span.ws {
    float: right;
    padding-top: 0;
    padding-right: 15px;
    }
    /* Change styles for span on extra small screens */
    @media screen and (max-width: 300px) {
    span.ws {
    display: block;
    float: none;
    }
  }
  
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

 #btn1, #btn2{
  background-color: #c00000;
  border: none;
  color: white;
  width: 20%;
  height: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 50px;
  cursor: pointer;
}
